{% extends "base.html" %}

{% block title %}{{ super() }} | {{ store.title }}{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>Latest {{ store.title }} items</h1>
		<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
	</div>
</div>
<div class="container">
	<div class="page-header">
		<h1>Foobar title</h1>
	</div>
</div>
{% endblock %}
