{% extends "base.html" %}

{% block css %}
{{ super() }}
<style type="text/css">
.search-result img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.removed h4, .removed h4 a {
	text-decoration: line-through;
	color: #c0c0c0;
}

span.label-hk {
	background-color: #ff8f00;
	color: white;
}

.caption .sku {
	color: #a0a0a0;
	margin-left: 0.5em;
}
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>What's new RC</h1>
		<p>See latest products from various RC web shops.</p>
	</div>
</div>

<div class="container-fluid">
	{% if warnings %}
	<div class="row">
		{% for warn in warnings %}
		<div class="alert alert-warning">{{ warn }}</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="row">
		{% if filters %}
		<div class="col-sm-10">
			{% for filter, clear in filters %}
			<a href="{{ clear }}" class="btn btn-success">
				<span class="close">&times;</span> {{ filter }}
			</a>
			{% endfor %}
		</div>
		{% endif %}
		<div class="col-sm-2 pull-right text-right">
			<form action="{{ path() }}" method="get" class="form">
				{% for name, value in qset(PARAM.SORT, as_dict=True).iteritems() %}
				<input type="hidden" name="{{ name }}" value="{{ value }}">
				{% endfor %}
				<div class="form-group">
					<select name="{{ PARAM.SORT }}" class="form-control">
						<option value="">Latest first</option>
						<option value="{{ SORT.CHEAP }}"{% if GET(PARAM.SORT) == SORT.CHEAP %} selected="selected"{% endif %}>Cheap first</option>
						<option value="{{ SORT.EXPENSIVE }}"{% if GET(PARAM.SORT) == SORT.EXPENSIVE %} selected="selected"{% endif %}>Expensive first</option>
					</select>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<h4><span class="label label-default">{{ total_count }} results</span></h4>
		</div>
		<div class="col-sm-8 text-right">
			{% include 'search-paging.html' %}
		</div>
	</div>

	<div class="row">
		{% for item in items %}
		<div class="col-xs-6 col-sm-4 col-md-3 search-result{% if item.removed %} removed{% endif %}">
			<div class="thumbnail">
				<a href="{{ item.url }}" target="_blank">
					<img src="{{ item.photo_url }}" alt="{{ item.title }}">
				</a>
				<div class="caption">
					<p>
						<span class="label label-{{ item.store.id }}">{{ item.store.title }}</span>
						<small class="sku">{{ item.sku }}</small>
					</p>
					<h4>
						<a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
					</h4>
					<h4>{{ item.price }}</h4>
					<p>
						{% for id, title in item.category_path %}
						{% if not loop.first %}<br />&raquo;{% endif %}
						<a href="{{ qset(PARAM.CATEGORY, id) }}">{{ title }}</a>
						{% endfor %}
					</p>
					<p>{{ item.added }}</p>
				</div>
			</div>
		</div>
		{% if not loop.index % 4 %}
		<div class="clearfix visible-md-block"></div>
		{% endif %}
		{% if not loop.index % 3 %}
		<div class="clearfix visible-sm-block"></div>
		{% endif %}
		{% if not loop.index % 2 %}
		<div class="clearfix visible-xs-block"></div>
		{% endif %}
		{% else %}
		<div class="col-xs-12">
			<h4><span class="label label-default">No items</span></h4>
		</div>
		{% endfor %}
	</div>

	<div class="col-md-12 text-center">
		{% include 'search-paging.html' %}
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
$(function () {
	$('select').change(function () {
		$(this).parents('form').submit();
	});
});
</script>
{% endblock %}