{% extends "base.html" %}

{% block css %}
{{ super() }}
<style type="text/css">
.search-result img {
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

span.label-hk {
	background-color: #ff8f00;
	color: white;
}

.caption .sku {
	color: #a0a0a0;
	margin-left: 0.5em;
}
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>What's new RC</h1>
		<p>See latest products from various RC web shops.</p>
	</div>
</div>

<div class="container">
	{% if filters %}
	<div class="row">
		<div class="col-xs-12">
			{% for filter, clear in filters %}
			<a href="{{ clear }}" class="btn btn-success">
				<span class="close">&times;</span> {{ filter }}
			</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-3">
			<h4><span class="label label-default">{{ total_count }} results</span></h4>
		</div>
		<div class="col-sm-9 text-right">
			{% include 'search-paging.html' %}
		</div>
	</div>

	<div class="row">
		{% for item in items %}
		<div class="col-sm-6 col-md-3 search-result">
			<div class="thumbnail">
				<img src="{{ item.photo_url }}" alt="{{ item.title }}">
				<div class="caption">
					<p>
						<span class="label label-{{ item.store.id }}">{{ item.store.title }}</span>
						<small class="sku">{{ item.sku }}</small>
					</p>
					<h4>
						<a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
					</h4>
					<h4>{{ item.price }}</h4>
					<p>
						{% for id, title in item.category_path %}
						{% if not loop.first %}<br />&raquo;{% endif %}
						<a href="{{ qset('c', id) }}">{{ title }}</a>
						{% endfor %}
					</p>
					<p>{{ item.added }}</p>
				</div>
			</div>
		</div>
		{% if not loop.index % 4 %}
		</div><div class="row">
		{% endif %}
		{% else %}
		<div class="col-xs-12">
			<h4><span class="label label-default">No items</span></h4>
		</div>
		{% endfor %}
	</div>

	<div class="col-md-12 text-center">
		{% include 'search-paging.html' %}
	</div>
</div>
{% endblock %}
