{% extends "base.html" %}

{% block css %}
{{ super() }}
<style type="text/css">
.search-result img { max-width: 200px; }
span.label-hk { background-color: #ff8f00; color: white; }
.caption .sku { color: #a0a0a0; margin-left: 0.5em; }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>What's new RC</h1>
		<p>See latest products from various RC web shops.</p>
	</div>
</div>
<div class="container">
	<p>{{ total_count }} results</p>
	<div class="row">
		{% for item in items %}
		<div class="col-sm-6 col-md-3 search-result">
			<div class="thumbnail">
				<img src="{{ item.photo_url }}" alt="{{ item.title }}">
				<div class="caption">
					<p>
						<span class="label label-{{ item.store.id }}">{{ item.store.title }}</span>
						<small class="sku">{{ item.sku }}</small>
					</p>
					<h3>
						<a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
					</h3>
					<h4>{{ item.price }}</h4>
					<p>{{ item.added }}</p>
				</div>
			</div>
		</div>
		{% if not loop.index % 4 %}
		</div><div class="row">
		{% endif %}
		{% else %}
		<p>No items.</p>
		{% endfor %}
	</div>
</div>
{% endblock %}
